<h1>Orders</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <tbody>
  <%= @orders.each do |order| %>
    <tr>
      <td>
        <%= order.id %>
      </td>
      <td>
        <%= order.date %>
      </td>
      <td>
        <%= order.user.last_name %>
      </td>
      <td>
        <%= order.details %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>